<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @team.servers.each do |server| %>
      <tr>
        <td><%= link_to server.name, team_server_path(@team,server) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
