<div class="page-header">
  <table>
    <tr>
      <td>Edit <%= @team.alias %></td>
      <td>
        <%= submit_tag 'Update Team', onclick: "$('#edit_team_#{@team.id}').trigger('submit')", class: 'btn btn-primary' %>
        <%= link_to 'Cancel', teams_path, class: 'btn' %>
      </td>
    </tr>
  </table>
</div>

<%= render partial: 'form' %>
