<% if can?(:new, Team) %>
  <% content_for :actions do %>
    <% if can? :new, Team %>
      <li class='new'>
        <%= link_to '#', onclick: "$('#new_team').trigger('submit')" do %>Create<i class="icon-ok-sign"></i><% end %>
      </li>
    <% end %>
    <li class='cancel'>
      <%= link_to teams_path do %>Cancel<i class="icon-ban-circle"></i><% end %>
    </li>
  <% end %>
<% end %>

<% content_for :paths do %>
  <li class='path'>
    <%= link_to teams_path do %>Teams<i class="icon-chevron-left"></i><% end %>
  </li>
<% end %>

<div class="page-header">
  <h3>New Team</h3>
</div>

<%= render partial: 'form' %>
