<div class="page-header">
  <table>
    <tr>
      <td>New Team</td>
      <td>
        <%= submit_tag 'Create Team', onclick: "$('#new_team').trigger('submit')", class: 'btn btn-primary' %>
        <%= link_to 'Cancel', teams_path, class: 'btn' %>
      </td>
    </tr>
  </table>
</div>

<%= render partial: 'form' %>
