<% if @server.can_edit?(current_member,@team.id) %>
  <% content_for :actions do %>
    <li class='submit'>
      <%= link_to '#', onclick: "$('#edit_service_#{@service.id}').trigger('submit')" do %><i class="icon-ok-sign"></i><span>Update</span><% end %>
    </li>
    <li class='cancel'>
      <%= link_to team_server_service_path(@team,@server,@service) do %><i class="icon-ban-circle"></i><span>Cancel</span><% end %>
    </li>
  <% end %>
<% end %>


<div class="page-header">
  <h3><%= @service.name %></h3>
</div>

<%= render partial: 'form' %>
