<div class="page-header">
  <table>
    <tr>
      <td>Edit Service</td>
      <td>
        <%= submit_tag "Update Service", onclick: "$('#edit_service_#{@service.id}').trigger('submit')", class: 'btn btn-primary' %>
        <%= link_to 'Cancel', team_server_services_path(@team,@server), class: 'btn' %>
      </td>
    </tr>
  </table>
</div>

<%= render partial: 'form' %>
