<div class="page-header">
  <table>
    <tr>
      <td>New Service</td>
      <td>
        <%= submit_tag 'Create Service', onclick: "$('#new_service').trigger('submit')", class: 'btn btn-primary' %>
        <%= link_to 'Cancel', team_server_services_path(@team,@server), class: 'btn' %>
      </td>
    </tr>
  </table>
</div>

<%= render partial: 'form' %>
