<% content_for :actions do %>
  <li class='new'>
    <%= link_to '#', onclick: "$('#new_session').trigger('submit')" do %><i class="icon-ok-sign"></i><span>Login</span><% end %>
  </li>
  <li class='cancel'>
    <%= link_to teams_path do %><i class="icon-ban-circle"></i><span>Cancel</span><% end %>
  </li>
<% end %>


<div class="page-header">
  <h3>Login</h3>
</div>

<%= render partial: 'form' %>
