# Used to track directories
!.gitkeep

# Ignore these directories
/.bundle
/db/*.sqlite3
/log/*
logs
pids
/tmp/*
/lib/tasks/*ists*
/quickstart.sh
# Ignore other unneeded files.
/Gemfile.lock
*.swp
*~
.project
.DS_Store
**.DS_STORE
.ruby-gemset
.ruby-version
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
