<div class="page-header">
  <table>
    <tr>
      <td><%= @team.alias %> Servers</td>
      <td>
        <%= link_to "New Server", new_team_server_path(@team), class: 'btn btn-primary' if whiteteam? %>
     </td>
    </tr>
  </table>
</div>

<%= render partial: 'team', locals: { team: @team } %>

