<div class="page-header">
  <table>
    <tr>
      <td>New <%= @team.alias %> Server</td>
      <td>
        <%= submit_tag 'Create Server', onclick: "$('#new_server').trigger('submit')", class: 'btn btn-primary' %>
        <%= link_to 'Cancel', team_servers_path(@team), class: 'btn' %>
      </td>
    </tr>
  </table>
</div>

<%= render partial: 'form' %>
