<% content_for :actions do %>
  <li class='new'>
    <%= link_to '#', onclick: "$('#new_server').trigger('submit')" do %><i class="icon-ok-sign"></i><span>Create</span><% end %>
  </li>
  <li class='cancel'>
    <%= link_to team_path(@team) do %><i class="icon-ban-circle"></i><span>Cancel</span><% end %>
  </li>
<% end %>


<div class="page-header">
  <h3>New Server</h3>
</div>

<%= render partial: 'form' %>
