<table class="table table-hover">
  <thead>
    <tr>
      <th>Service</th>
      <th>Username</th>
      <th>Password <%= link_to_function "(Toggle)", "toggle_fields('div.show_password')" %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.includes(:service).ordered.each do |user| %>
      <% next unless user.can_show?(current_member,@team.id) %>
      <tr>
        <td><%= user.service.name %></td>
        <td><%= user.username %></td>
        <td><div class="show_password" style="display:none;"><%= user.password %></div></td>
      </tr>
    <% end %>
  </tbody>
</table>
