<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Service</th>
      <th>Username</th>
      <th>Password <%= link_to_function "(Hide/Unhide)", "toggle_fields('div.show_password')" %></th>
    </tr>
  </thead>
  <tbody>
    <% unless server.users.exists? %>
      <tr>
        <td colspan="3">No Users</td>
      </tr>
    <% else %>
      <% server.users.includes(:service).ordered.each do |user| %>
        <% next unless user.can_show?(current_member,@team.id) %>
        <tr>
          <td><%= user.service.name %></td>
          <td><%= link_to user.username, team_server_service_user_path(@team,server,user.service,user) %></td>
          <td><div class="show_password"><%= user.password %></div></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
