<table class="table table-hover">
  <thead>
    <tr>
      <th>Service</th>
      <th>Category</th>
      <th>Property</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% @properties.ordered.each do |property| %>
      <% next unless property.can_show?(current_member,@team.id) %>
      <tr>
        <td><%= property.service.name %></td>
        <td><%= property.category %></td>
        <td><%= property.property %></td>
        <td><%= property.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
