<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Category</th>
      <th>Property</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% unless service.properties.exists? %>
      <tr>
        <td colspan="3">No Properties</td>
      </tr>
    <% else %>
      <% service.properties.ordered.each do |property| %>
        <% next unless property.can_show?(current_member,@team.id) %>
        <tr>
          <td><%= link_to property.category, team_server_service_property_path(@team,@server,service,property) %></td>
          <td><%= property.property %></td>
          <td><%= property.value %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
