<% properties = @service.properties %>
<% if properties.count == 0 %>
  <p>No properties</p>
<% else %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Category</th>
        <th>Property</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% properties.each do |property| %>
        <tr>
          <td><%= property.category %></td>
          <td><%= property.property %></td>
          <td><%= property.value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
