<div class="page-header">
  <table>
    <tr>
      <td>New Property</td>
      <td>
        <%= submit_tag 'Create Property', onclick: "$('#new_property').trigger('submit')", class: 'btn btn-primary' %>
        <%= link_to 'Cancel', team_server_service_properties_path(@team,@server,@service), class: 'btn' %>
      </td>
    </tr>
  </table>
</div>

<%= render partial: 'form' %>
