<% if Property.can_new?(current_member,@team.id) %>
  <% content_for :actions do %>
    <li class='new'>
      <%= link_to '#', onclick: "$('#new_property').trigger('submit')" do %><i class="icon-ok-sign"></i><span>Create</span><% end %>
    </li>
    <li class='cancel'>
      <%= link_to team_server_service_path(@team,@server,@service) do %><i class="icon-ban-circle"></i><span>Cancel</span><% end %>
    </li>
  <% end %>
<% end %>


<div class="page-header">
  <h3>New Property<h3>
</div>

<%= render partial: 'form' %>
