<% content_for :fullscreen do %>
  <div class="hero-unit center-text">
    <h1>Information Security Talent Search</h1>
    <blockquote><span style="font-style:italic">"We would like to thank you for participating in annual ISTS competition"</span> - SPARSA</blockquote>
  </div>

  <div class="page-header center-text">
    <h2>Thank You Sponsors</h2>
  </div>
  <table class="table sponsors-table">
    <tbody>
      <tr> 
        <td>Sponsor 1</td>
        <td>Sponsor 2</td>
        <td>Sponsor 2</td>
      <tr> 
    </tbody>
  </table>
<% end %>
