<div class="hero-unit center-text">
  <h1>Information Security Talent Search</h1>
  <blockquote><span style="font-style:italic">"We would like to thank you for participating in annual ISTS competition"</span> - SPARSA</blockquote>
</div>

<div class="page-header center-text">
  <h2>Thank You Sponsors</h2>
</div>
<table class="table sponsors-table">
  <tbody>
    <tr> 
      <td>Edit me in app/views/static/welcome.html.erb</td>
      <td>Sponsor Images can go in app/assets/images</td>
    </tr> 
    <tr> 
      <td>Linked with: &lt;%= image_tag &quot;Name.png&quot; %&gt;</td>
      <td><%= image_tag "favicon.ico" %></td>
    </tr> 
  </tbody>
</table>
