/*
$(document).ready(function() { 
  console.time('Pad linegraph')
  if (false) {
  $.each(window.linegraph,function(number,series) {
    data = series.data
    max = data[data.length-1][0]
    $.each(window.rounds,function(i,round) {
      //if (round > length) { 
      //  window.linegraph[number].data.splice(length-1,0,[round,data[length-1][1]])
      //} else {
      if (round > max) { window.linegraph[number].data.splice(round,0,[round,data[data.length-1][1]]); return true }
      $.each(data,function(index,point) {
        if (point[0] == round) { return false }
        if (point[0] > round) { window.linegraph[number].data.splice(index,0,[round,data[index-1][1]]); return false }
      })
    })
  })
  }
  console.timeEnd('Pad linegraph')
  var linechart = new Highcharts.Chart(line_options);
});
// #FF1493 MediumViolet
// #F08080 LightCoral
// #DC143C Crimson
// #FF4500 OrangeRed
// #FFD700 Gold
// #32CD32 LimeGreen
// #00FA9A MediumGreen
// #008000 Green
// #40E0D0 Turquoise
// #4169E1 RoyalBlue
// #9370DB Medium Purple
colors = ['#FF1493','#F08080','#DC143C','#FF4500','#FF0000','#FFD700','#008000','#32CD32','#40E0D0','#4169E1','#9370DB']
var line_options = {
  chart: {
    renderTo: 'chart', 
    animation: { duration: 0 }, 
    backgroundColor: { linearGradient: [0, 0, 0, "100%"], stops: [ [0.0, '#111111'], [0.3, '#222222'] ] },
    borderRadius: 3,
    defaultSeriesType: 'line'
  },
  colors: colors,
  title: { text: 'Scoreboard', style: { fontSize: '16px', color: '#999999' } },
  yAxis: { title: { text: 'Points' }, min: 0, allowDecimal: false, gridLineColor: 'rgba(255, 255, 255, .1)' },
  xAxis: { title: { text: 'Check', style: { fontWeight: 'normal' }, rotation: 0, align: "high" }, min: 0, allowDecimals: false, maxPadding: .02, lineWidth: 0, tickLength: 0 },
  legend: { itemStyle: { color: '#CCC' }, itemHoverStyle: { color: '#FFF' }, itemHiddenStyle: { color: '#333' } },
  tooltip: { 
    backgroundColor: { linearGradient: [0, 200, 0, 100], stops: [ [0, 'rgba(34, 34, 34, .9)'], [1, 'rgba(17, 17, 17, .9)'] ] },
    borderWidth: 0,
    style: { color: '#FFFFFF', padding: 5, },
    shared: true,
    crosshairs: true,
    formatter: function() {
      var tooltip = 'Check: <b>'+ this.x +'</b><br>';
      var sortedPoints = this.points.sort(function(a, b){ return ((a.y > b.y) ? -1 : ((a.y < b.y) ? 1 : 0)); });
      $.each(sortedPoints, function(i, point) {
        tooltip += '<span style="color:'+point.series.color+';">'+point.series.name+': </span><b>'+point.y+'</b><br>';
      });
      return tooltip;
    }
  },
  plotOptions: {
    line: {
      animation: { duration: 0 },
      lineWidth: 2,
      states: { hover: { enabled: false, lineWidth:2, marker: { enabled: false} } },
      marker: { enabled: true, radius: 1 },
      connectNulls: true
    }
  },
  series: window.linegraph 
};
*/
