<% if @check.id.nil? %>
  <p>No checks</p>
<% else %>
  <div class="table-dl-horizontal">
    <table>
      <tr>
        <td>Passed:</td>
        <% if @check.passed %>
          <td><span class="label label-success"><%= @check.passed %></span></td>
        <% else %>
          <td><span class="label label-important"><%= @check.passed %></span></td>
        <% end %>
      </tr>
      <tr>
        <td>Request:</td>
        <td><%= @check.request %></td>
      </tr>
      <tr>
        <td>Response:</td>
        <td><%= @check.response %></td>
      </tr>
    </table>
  </div>
<% end %>
