// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#propertiesModal {
  width: 800px;
  margin: 0px 0px 0px -400px;
}
#checksModal {
  width: 1000px;
  margin: 0px 0px 0px -500px;
}
#usersModal {
  width: 600px;
  margin: 0px 0px 0px -300px;
}
