<ul class="nav pull-right">
  <% if logged_in? %>
  <li><%= link_to 'Teams', teams_path %></li>
  <li><%= link_to 'Logout', session_path, method: 'delete' %></li>
  <% else %>
  <li><%= link_to 'Login', new_session_path %></li>
  <% end %>
</ul>
