<ul class="nav">
  <li class="divider-vertical"></li>

  <li><%= link_to 'Teams', teams_path %></li>
  <li class="divider-vertical"></li>
  <li><%= link_to 'Overview', overview_teams_path %></li>
  <li class="divider-vertical"></li>
  <li><%= link_to 'Scoreboard', '#' %></li>

  <li class="divider-vertical"></li>
</ul>
