<% if can?(:new, Member) %>
  <% content_for :actions do %>
    <% if can? :new, Member %>
      <li class="new"> 
        <%= link_to new_member_path do %>New Member<i class="icon-plus-sign"></i><% end %>
      </li>
    <% end %>  
  <% end %>  
<% end %>  

<% content_for :paths do %>
  <li class='path'>
    <%= link_to members_path do %><span>Members</span><i class="icon-chevron-left"></i><% end %>
  </li>
<% end %>


<div class="page-header">
  <h3>Members</h3>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Team</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.team.alias, team_path(member.team) %></td>
        <td><%= link_to member.username, member_path(member) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

