<div class="page-header">
  <table>
    <tr>
      <td>New Member</td>
      <td>
        <%= submit_tag 'Create Member', onclick: "$('#new_member').trigger('submit')", class: 'btn btn-primary' %>
        <%= link_to 'Cancel', members_path, class: 'btn' %>
      </td>
    </tr>
  </table>
</div>

<%= render partial: 'form' %>
