<% content_for :actions do %>
  <li class='new'>
    <%= link_to '#', onclick: "$('#new_member').trigger('submit')" do %><i class="icon-ok-sign"></i><span>Create</span><% end %>
  </li>
  <li class='cancel'>
    <%= link_to members_path do %><i class="icon-ban-circle"></i><span>Cancel</span><% end %>
  </li>
<% end %>

<% content_for :paths do %>
  <li class='path indent'>
    <%= link_to "Members", members_path %>
  </li>
<% end %>


<div class="page-header">
  <h3>New Member</h3>
</div>

<%= render partial: 'form' %>
